export B2ACCESS_CONSUMER_KEY=....
export B2ACCESS_SECRET_KEY=...
DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" >/dev/null 2>&1 && pwd )"
export USE_STAGING_B2ACCESS=1
export B2SHARE_SECRET_KEY=mfTpGpQBwTTOmWCoZrYSuiJ1UzXq1d2L
export B2SHARE_JSONSCHEMAS_HOST=127.0.0.1
export B2SHARE_POSTGRESQL_DBNAME=b2share
export B2SHARE_POSTGRESQL_PASSWORD=b2share
export B2SHARE_POSTGRESQL_USER=b2share
export B2SHARE_RABBITMQ_USER=b2share
export B2SHARE_RABBITMQ_PASS=b2share
export B2SHARE_DATADIR=$DIR/data
export INIT_DB_AND_INDEX=1
export LOAD_DEMO_COMMUNITIES_AND_RECORDS=1
